body {     
     margin-left: 5vh;
    color: white;
    background-color: #1d2630;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

/* nav menu */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
    color: #fff;
    padding: 1rem 2rem; /* Adapte o padding conforme necessário */
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 1rem;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

.nav-list {
    display: flex;
    margin-right: 1rem;
}

.container {
    position: relative;
}

.popupInfo {
    width: 80%;
    max-width: 100vh;
    outline: 3px solid rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255,255, 255, 0.95);
    border: 1px solid rgba(255,255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color:#fff;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255,255,255,0.20);
    border: 1px solid rgba(255,255, 255, 0.34);
}


#botaoFechar,
#botaoExcluir,
#botaoEditar {
    border-radius: 50px;
    align-items: left;
    position: relative;
}

/* Footer */
footer {
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
}

footer > p {
    margin: 1rem;
}

footer i {
    vertical-align: middle;
}

/* Adição de media query para telas menores */
@media (max-width: 768px) {
    .nav-list {
        margin-top: 1rem;
    }

    
     .popupInfo {
        width: 80%;
        max-width: 100vh;
    } 

    form input {
        width: 80%;
    }

    footer {
        padding: 1rem;
    }
}
